/* @theme my-theme */

section {
    font-family: 'Courier New', Courier, monospace;
    background-color: green;
    padding: 25px 65px;
}

h1 {
    font-size: 60px;
    color: #09c;
}

h2 {
    font-size: 50px;
}